<aside class="fixed top-0 left-0 flex h-screen w-56 flex-col overflow-y-auto bg-card px-4 py-8 ring-1 ring-card-border">

  <div class="mb-10 flex items-center justify-center gap-x-3">
    <img ngSrc="/logo-indigo.svg" alt="logo" class="h-9 w-auto" height="36" width="36"/>
    <span class="text-2xl font-bold text-text-primary">MyDorm</span>
  </div>

  <nav class="flex flex-1 flex-col justify-between">
    <ul class="-mx-3 space-y-2">
      @for (link of navigationLinks; track link.route) {
        <li>
          <a [routerLink]="link.route"
             routerLinkActive="bg-background text-text-primary"
             [routerLinkActiveOptions]="{exact: true}"
             class="flex transform items-center rounded-lg px-3 py-2 text-text-secondary transition-colors duration-300 hover:bg-background hover:text-text-primary">

            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="link.iconPath" />
            </svg>

            <span class="mx-4 text-base font-medium">{{ link.label }}</span>
          </a>
        </li>
      }
    </ul>

    <div>
      <a (click)="logout()"
        [routerLink]="logoutAction.route"
         class="flex transform items-center rounded-lg px-3 py-2 text-text-secondary transition-colors duration-300 hover:bg-background hover:text-text-primary">

        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="logoutAction.iconPath" />
        </svg>

        <span class="mx-4 text-base font-medium">{{ logoutAction.label }}</span>
      </a>
    </div>

  </nav>
</aside>
